[settings]
debug_level=DEBUG
[amazon]
aws_access_key_id=AKIAISFUXK5KKJBPA4DA
aws_secret_access_key=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
aws_associate_tag=descuentosn0b-20
aws_region=MX
df_node_file=D:\Onedrive\Private\descuentos_ninja\amazon\promotions\node_hierarchy.csv
output_folder=D:\Onedrive\Private\descuentos_ninja\amazon\promotions
tmp_folder=D:\tmp\descuentos_ninja
aws_qps=.5