[settings]
debug_level=DEBUG
[amazon]
aws_access_key_id=AKIAJDVEY2R6SB7DVCWQ
aws_secret_access_key=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
aws_associate_tag=descuentosn0b-20
aws_region=MX
df_node_file=D:\Onedrive\Private\descuentos_ninja\amazon\promotions\node_hierarchy.csv
output_folder=D:\Onedrive\Private\descuentos_ninja\amazon\promotions