[settings]
debug_level=DEBUG
[amazon]
aws_access_key_id=AKIAISFUXK5KKJBPA4DA
aws_secret_access_key=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
aws_associate_tag=descuentosn0b-20
aws_region=MX
df_node_file=D:\Onedrive\Private\descuentos_ninja\promotions\amazon\node_hierarchy.csv
output_folder=D:\Onedrive\Private\descuentos_ninja\promotions\amazon\
tmp_folder=D:\tmp\descuentos_ninja\amazon
aws_qps=.5
[zanox]
connect_id=887001A4794A3CBA8110
secret_key=5fe3F5d582c443+681A47DdFfbc836/2511bec41
output_folder=D:\Onedrive\Private\descuentos_ninja\promotions\zanox
tmp_folder=D:\tmp\descuentos_ninja\zanox